* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section-title {
  font-family: 'Playfair Display', serif;
}



html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
  font-size: 16px; /* Base size, scalable */
}